In [ ]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
#Upload do arquivo
from google.colab import files
arq = files.upload()

In [ ]:
#criando nosso DataFrame
df = pd.read_excel("AdventureWorks.xlsx")

In [ ]:
df.head(5)

    Channel  SalesOrderLineKey Sales Order Sales Order Line
0  Reseller           43659001     SO43659      SO43659 - 1
1  Reseller           43659002     SO43659      SO43659 - 2
2  Reseller           43659003     SO43659      SO43659 - 3
3  Reseller           43659004     SO43659      SO43659 - 4
4  Reseller           43659005     SO43659      SO43659 - 5

In [ ]:
#Quantidade de linhas e colunas
df.shape

(121253, 4)

In [ ]:
#verificando os tipos de dados
df.dtypes

Channel              object
SalesOrderLineKey     int64
Sales Order          object
Sales Order Line     object
dtype: object

In [ ]:
#Qual a receita total
df["SalesOrderLineKey"].sum()

7011627099176

In [ ]:
#Qual o custo total?
df["custo"] = df["Custo unitário"].mul(df.["Quantidade"]) # Criando uma coluna de custo-  mul é = multiplicação

In [ ]:
#Qual o custo total?
round(df["custos"].sum(), 2) # 2= duas casas decimais

In [ ]:
#Agora que temos a receita e o custo total, podemos achar o lucro total
#Vamos criar uma coluna de lucro que será receita - lucro.
df["lucro"] - df["valor da venda"] - df["custo"]

In [ ]:
df.read(1)

In [ ]:
#Total Lucro
round(df["lucro"].sum(), 2) #sum = soma     2 = duas casas decimal

In [ ]:
#Criando uma coluna com total de dias para enviar o produto
df["tempo_envio"] = df["Data Envio"] - df["Data Venda"]

In [ ]:
df.head(1)

**Agora, queremos saber a média do tempo de envio para acda Marca, e para isso precisamos transformar a coluna Tempo_envio em númerica.**

In [ ]:
#Extraindo apenas os dias  = dt.days
df["Tempo_envio"] = (df["data Envio"] - df["Data_venda"]).dt.days

In [ ]:
df.head(1)

In [ ]:
#Verificando o tipo de coluna Tempo_envio
df["Tempo_envio"].dtype

In [ ]:
#Média de tempo de envio por Marca = mean       df.groupby = agrupar
df.groupby("Marca")["Tempo_envio"].mean()

** Missing Values = Valores ausentes. **

In [ ]:
# Verificando se temos dados faltantes ou ausentes
df.groupby([df["Data Venda"].dt.year, "Marca"])["lucro"].sum()

In [ ]:
pd.options.display.float_format = '{:20,22f}'.format

In [ ]:
#Resetando o index - pode salvar xlsx ou csv nesse formato
lucro_ano = df.groupby([df["Data Venda"].dt.year, "Marca"])["Lucro"].sum().reset_index()
lucro_ano

In [ ]:
#Qual o total de produtos vendidos?
df.groupby("Produto")["Quantidade"].sum().sort_values(ascending=False)

In [ ]:
#Gráfico Total de produtos vendidos
df.groupby("Produtos")["Quantidade"].sum().sort_values(ascending=True).plot.barh(title= "Total Produtos Vendidos")
plt.xlabel("Total")
plt.ylabel("Produto")

In [ ]:
#Grafico de linhas usa .plot.bar
df.groupby(df["Data Venda"].dt.year)["lucro"].sum().plot.bar(title="Lucro x Ano") 
plt.xlabel("Ano")
plt.ylabel("Receita")

In [ ]:
df.groupby(df["Data Venda"].dt.year)["lucro"].sum()

In [ ]:
#Selecionando apenas as vendas de 2009
df_2009 = df[df["Data Venda"].dt.year == 2009]

In [ ]:
df_2009.head()

In [ ]:
df_2009.groupby(df_2009["Data Venda"].dt.month)["lucro"].sum().plot(title="Lucro x Mês")
plt.xlabel("Mês")
plt.ylabel("Lucro");

In [ ]:
df_2009.groupby("Marca")["lucro"].sum().plot.bar(title="Lucro x Marca")
plt.xlabel("Marca")
plt.ylabel("Lucro")
plt.xticks(rotation="horizontal");

In [ ]:
df_2009.groupby("Classe")["lucro"].sum().plot.bar(title="Lucro x Classe")
plt.xlabel("Classe")
plt.ylabel("Lucro")
plt.xticks(rotation="horizontal");

In [ ]:
#Quartis
df["Tempo_envio"].describe()

In [ ]:
#Gráfico de Boxplot
plt.boxplot(df["Tempo_envio"]);

In [ ]:
#Histograma
plt.hist(df["Tempo_envio"]);

In [ ]:
#Tempo mínimo de envio
df["Tempo_envio"].min()

In [ ]:
#Tempo máximo de envio
df["Tempo_envio"].max()

In [ ]:
#Identificando o  Outlier (Valor discrepante)
df[df["Tempo_envio"] == 20]